/* CSS stylesheet to style HTML elements in the content area of the Basic Portfolio website.
 
   NAME: style-portfolio.css
   AUTHOR: Elaina Swann
   DATE: 11/16/2017
   REVISION LOG:  
*/

/* Content area.
   NOTE: Main and sidebar areas are styled in the common css stylesheet because they do not change across webpages.
*/
.content {
  background: #ffffff;
  display: inline-block;
  height: auto;
  margin-right: 40px;
  padding: 0;
  overflow: auto;
  width: 650px;
}

/* Content heading. */
.h1-content {
  border-bottom: 2px solid #cccccc;
  height: 100px;
  line-height: 100px;
  margin: 0px 30px 0px 30px; /* Have to use margin vs. padding because border is also offset. */
  padding: 0;
  width: 590; /* Have to set width vs. auto because of using margin. */
}

/* Container holding portfolio images. */
.img-container {
  height: 200px;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 275px;
}

/* Define margins for specific gallery images since they are not consistent in the layout. */
#img-container-1 {
  margin: 30px 33.333px 15px 33.333px;
}

#img-container-2 {
  margin: 30px 33.333px 15px 0px;
}

#img-container-3 {
  margin: 0px 33.333px 15px 33.333px;
}

#img-container-4 {
  margin: 0px 33.333px 15px 0px;
}

#img-container-5 {
  margin: 0px 33.333px 30px 33.333px;
}

/* Position the image to a position inside the image container. 
   Top=0, Left=0 is the default, but is placed here to show positioning is intentional. */
.img-portfolio {
  height: inherit;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: inherit;
  z-index: 1; /* Must be smaller than .img-link. */
}

/* Position the link to a position inside the image container. */
.img-link {
  background: #4aaaa5;
  bottom: 10px;
  color: #ffffff;
  font-size: 1em;
  height: 60px;
  left: 0;
  line-height: 60px;
  position: absolute;
  text-decoration: none;
  width: inherit;
  z-index: 2; /* Must be larger than .img-portfolio. */
}