main {
  height: 640px;
  width: 1360px;
}

.content {
  background: #ffffff;
  display: inline-block;
  height: 560px;
  left: 155px;
  margin: 40px 0px 40px 0px;
  overflow: auto;
  position: absolute;
  width: 650px;
}

.h1-main {
  border-bottom: 2px solid #cccccc;
  height: 100px;
  line-height: 100px;
  margin: 0px 30px 0px 30px;
  size: 20px;
  width: 590px;
}
