* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/vintage-concrete.png"); /* To Do: Background is overflowing body */
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  height: auto;
  margin: 0;
  padding: 0;
  width: 1355px;
}

h1, h2, h3, h4, h5, h6 {
  color: #4aaaa5;
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}

header {
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
  height: 90px; /* Have to set height vs. auto due to position:absolute children. */
  margin: 0;
  padding: 0;
  position: relative;
  width: inherit;
}

.h1-header {
  background: #4aaaa5;
  border-bottom: inherit; /* Have to inherit border due to border-box box-sizing. Otherwise, child
                             will overlay visible border. */
  color: #ffffff;
  height: 90px;
  left: 155px;
  line-height: 90px;
  margin: inherit;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 250px;
}

.ul-html-pages {
  height: auto;
  list-style: none;
  margin: inherit;
  padding: 0;
  position: absolute;
  right: 240px;
  width: auto;
}

.li-html-pages {
  display: inline-block;
  height: 90px;
  line-height: 90px;
  margin: 0 0 0 35px;
  padding: 0;
  text-align: right;
  width: 80px;
}

.link-html-pages {
  color: #777777;
  font-size: 1.17em;
  text-decoration: none;
}

main {
  height: auto;
  margin: 0;
  overflow: auto;
  padding: 40px 240px 40px 155px;
  width: inherit;
}

/* Content class is configured in webpage specific css stylesheet. */

.sidebar {
  background: #ffffff;
  float: right;
  height: 195px;
  margin: 0;
  padding: 0;
  width: 270px;
}

.h2-main {
  border-bottom: 2px solid #cccccc;
  height: 75px;
  line-height: 75px;
  margin: 0px 30px 0px 30px; /* Have to use margin vs. padding because border is also offset. */
  padding: 0;
  text-align: center;
  width: 210px; /* Have to set width vs. auto because of using margin. */
}

.ul-social {
  height: 120px;
  list-style: none;
  margin: 0px 30px 0px 30px; /* Have to use margin vs. padding because border is also offset. */
  padding: 0;
  width: 210px; /* Have to set width vs. auto because of using margin. */
}

.li-social {
  display: inline-block;
  height: 60px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 60px;
}

/* Overlay the li margins with specific values. */
/* To Do: For some reason had to put 10px vs. 15px. Cannot find where extra spaces are coming from.
   60 + 15 + 60 + 15 + 60 = 210. No margins and no padding. Maybe something with images? */
.li-github {
  margin: 30px 10px 30px 0px;
}

.li-linkedin {
  margin: 30px 10px 30px 0px;
}

.li-stackoverflow {
  margin: 30px 0px 30px 0px;
}

/* Position the link to a position inside the list item. 
   Top=0, Left=0 is the default, but is placed here to show it is intentional. */
.link-social {
  height: inherit;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: inherit;
  z-index: 1;
}

/* The image follows the link to a position inside the list item. */
.img-social {
  height: inherit;
  margin: 0;
  padding: 0;
  width: inherit;
  z-index: 2;
}

footer {
  background: #666666;
  border-top: 8px solid #4aaaa5;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  width: inherit;
}

.h5-footer {
  height: 90px;
  line-height: 90px;
  width: inherit;
}

/* Classes to clear elements. */
.clear-both {
  clear: both;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear:left;
}