/* CSS stylesheet to style HTML elements in the content areaa of the Basic Portfolio website.
 
   NAME: style-contact.css
   AUTHOR: Elaina Swann
   DATE: 11/16/2017
   REVISION LOG:  
*/

/* Content area.
   NOTE: Main and sidebar areas are styled in the common css stylesheet because they do not change across webpages.
*/
.content {
  background: #ffffff;
  display: inline-block;
  height: auto;
  margin-right: 40px;
  padding: 0;
  width: 650px;
}

/* Content heading */
.h1-content {
  border-bottom: 2px solid #cccccc;
  height: 100px;
  line-height: 100px;
  margin: 0px 30px 0px 30px; /* Have to use margin vs. padding because border is also offset. */
  padding: 0;
  width: 590; /* Have to set width vs. auto because of using margin. */
}

/* Form to input and submit contact information. */
form {
  font-size: .67em;
  margin: 30px;
  padding: 0;
  width: 590px;
}

.form-label {
  font-size: inherit;
  padding-bottom: 10px; 
}

input {
  font-size: inherit;
  margin: 10px 0 20px 0;
  padding: 10px;
  width: inherit;
}

#form-name, #form-email {
  height: 35px;
}

#form-message {
  height: 200px;
}

#form-submit {
  background: #4aaaa5;
  color: #ffffff;
  height: 40px;
  margin: 0;
  padding: 0; 
  width: 115px;
}