main {
  height: 640px;
  width: 1360px;
}

.content {
  background: #ffffff;
  display: inline-block;
  height: 560px;
  left: 155px;
  margin: 40px 0px 40px 0px;
  overflow: auto;
  position: absolute;
  width: 650px;
}

.h1-main {
  border-bottom: 2px solid #cccccc;
  height: 100px;
  line-height: 100px;
  margin: 0px 30px 0px 30px;
  size: 20px;
  width: 590px;
}

#img-profile {
  height: 150px;
  float: left;
  margin: 30px 30px 0px 30px;
  width: 200px;
}

#profile-summary {
  line-height: 25px;
  margin: 30px 0px 0px 30px;
  size: 15px;
  text-align: justify;
  width: 590px;
}