main {
  border-bottom: 2px solid #cccccc;
  height: 852px;
  width: 1360px;
}

.content {
  background: #ffffff;
  display: inline-block;
  height: 790px;
  left: 155px;
  margin: 40px 0px 40px 0px;
  overflow: auto;
  position: absolute;
  width: 650px;
}

.h1-main {
  border-bottom: 2px solid #cccccc;
  height: 100px;
  line-height: 100px;
  margin: 0px 30px 0px 30px;
  size: 20px;
  width: 590px;
}

.img-wrapper {
  height: 200px;
  float: left;
  padding: 0;
  text-align: center;
  width: 275px;
}

#img-wrapper-1 {
  margin: 30px 33.333px 15px 33.333px;
}

#img-wrapper-2 {
  margin: 30px 33.333px 15px 0px;
}

#img-wrapper-3 {
  margin: 0px 33.333px 15px 33.333px;
}

#img-wrapper-4 {
  margin: 0px 33.333px 15px 0px;
}

#img-wrapper-5 {
  margin: 0px 33.333px 30px 33.333px;
}

.img-container {
  height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  width: inherit;
}

.img-portfolio {
  height: inherit;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: inherit;
}

.img-link {
  background: #4aaaa5;
  bottom: 10px;
  color: #ffffff;
  font-size: 15px;
  height: 60px;
  left: 0;
  line-height: 60px;
  position: absolute;
  width: inherit;
}