main {
  height: 736px;
  width: 1360px;
}

.content {
  background: #ffffff;
  display: inline-block;
  height: 656px;
  left: 155px;
  margin: 40px 0px 40px 0px;
  overflow: auto;
  position: absolute;
  width: 650px;
}

.h1-main {
  border-bottom: 2px solid #cccccc;
  height: 100px;
  line-height: 100px;
  margin: 0px 30px 0px 30px;
  size: 20px;
  width: 590px;
}

form {
  font-size: 10px;
  margin: 40px 30px 40px 30px;
  width: 590px;
}

.form-label {
  font-size: inherit;
  padding-bottom: 10px; 
}

input {
  font-size: inherit;
  margin: 10px 0 20px 0;
  padding: 10px;
  width: inherit;
}

#form-name, #form-email {
  height: 35px;
}

#form-message {
  height: 200px;
}

#form-submit {
  background: #4aaaa5;
  color: #ffffff;
  height: 40px;
  margin: 0 0 30px 0;
  width: 115px;
}