/* CSS stylesheet to style HTML elements in the content area of the Basic Portfolio website.
 
   NAME: style-about.css
   AUTHOR: Elaina Swann
   DATE: 11/16/2017
   REVISION LOG:  
*/

/* Content area.
   NOTE: Main and sidebar areas are styled in the common css stylesheet because they do not change across webpages.
*/
.content {
  background: #ffffff;
  display: inline-block;
  height: auto;
  margin: 1.875em 0 1.875em 0;
  padding: 0;
  overflow: auto;
  width: 40.625em;
}

/* Content heading. */
.h1-content {
  height: 100%;
  margin: 0;
  padding: .67em .9375em .67em .9375em;
  text-align: left;
  width: inherit;
}

#hr-content {
  background:#cccccc;
  margin: 0 1.875em 0 1.875em;
  padding: 0;
}

/* Profile picture. */
#img-profile {
  height: 9.375em;
  float: left;
  margin: 1.875em 1.875em 0 1.875em;
  padding: 0;
  width: 12.5em;
}

/* Profile summary. */
#profile-summary {
  font-size: 1em;
  height: auto;
  line-height: 1.7em;
  margin: 0;
  padding: 1.875em;
  text-align: justify;
  width: inherit;
}