* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/vintage-concrete.png");
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  height: auto;
  margin: 0;
  padding: 0;
  width: 1360px;
}

h1, h2, h3, h4, h5, h6 {
  color: #4aaaa5;
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}

a {
  color: #777777;
  text-decoration: none;
}

header {
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
  height: 94px;
  margin: 0;
  padding: 0;
  width: 1360px;
}

.h1-header {
  background: #4aaaa5;
  display: inline-block;
  color: #ffffff;
  height: 90px;
  left: 155px;
  line-height: 90px;
  margin: 0;
  padding: 0;
  position: absolute;
  size: 20px;
  text-align: center;
  width: 250px;
}

.ul-html-pages {
  display: inline-block;
  left: 835px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.li-html-pages {
  display: inline-block;
  height: 90px;
  line-height: 90px;
  margin: 0 0 0 35px;
  padding: 0;
  size: 15px;
  text-align: center;
  width: 80px;
}

.sidebar {
  background: #ffffff;
  clear:both;
  display: inline-block;
  height: 200px;
  left: 845px;
  margin-top: 40px;
  position: absolute;
  width: 270px;
}

.h2-main {
  border-bottom: 2px solid #cccccc;
  height: 75px;
  line-height: 75px;
  margin: 0px 30px 0px 30px;
  size: 18px;
  width: 210px;
}

.img-social-icon {
  height: 60px;
  width: 60px;
}

.img-github {
  margin: 30px 15px 30px 30px;
}

.img-linkedin {
  margin: 30px 15px 30px 0px;
}

.img-stackoverflow {
  margin: 30px 0px 30px 0px;
}

footer{
  background: #666666;
  border-top: 8px solid #4aaaa5;
  clear: both;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  width: auto;
}

.h4-footer {
  height: 90px;
  line-height: 90px;
  margin: 0;
  size: 10px;
  width: 1360px;
}